html {
	scroll-behavior: smooth;
	}
body {
	font-family: raleway;
}

/* section 1 MAIN */

.main{
	height: 100vh;
	margin: 0;
	background: url('../img/background_picture.jpg') 100% 100% no-repeat fixed; /* фоновая картинка */
	background-size: cover; /*масштабируем фон;*/
	background-attachment: fixed;
}
h1 .header {
	text-shadow: 1px 1px 2px rgba(0,0,0,0.18);
	line-height: 1.5;
}
span {
	display: block;
	font-size: 16px;
	font-weight: 200;
}
strong {
	font-weight: bold;
	font-size: 40px;
	letter-spacing: 5px;
}

/* navigation */

.content {
	position: relative;
}
.sticky-top {
	position: sticky;
	left: 0;
	top: 0;
	background-color: #fff;
}
.navbar {
/*	border: 2px solid red;*/
	width: 100%;
}
.navbar-brand {
	font-family: Lobster;
	font-size: 22px;
	font-weight: bold;
	color: #222222;
	letter-spacing: 3px;
}
.navbar {
	font-size: 12px;
	letter-spacing: 1px;
}
.nav-link {
	color:#999999;
}
.nav-link:hover {
	color: #222222;
}
@media (max-width: 720px) {
    .navbar-brand { display: none; } /* скрыть имя в панели навигации на md и sm экране */
    .navbar { letter-spacing: 1px; justify-content: center; }
}
@media (max-width: 550px) {
	.navbar { letter-spacing: 0; font-size: 10px; } /* уменьшить панель навигации на sm экране */
}

/* slider button */

.circle {
    width: 40px;
    height: 40px;
    border: 2px rgba(255,255,255,1) solid; 
    border-radius: 50%;
    cursor: pointer;
}
.arrow {
	width: 13px;
	height: 13px;
	transition: .5s;
	transition-property: box-shadow;
	margin: auto;
	/*float: left;*/
	box-shadow: -2px 2px 0 rgba(255,255,255,1); /* то, что и делает стрелку */
	transform: rotate(315deg);
	/* cursor: pointer; /* при наведении курсор мыши меняется */
	animation-name: myAnimation;
	animation-duration: 1s;
	animation-iteration-count: infinite;
	animation-timing-function: ease-in-out;
}

.arrow:hover {
	box-shadow: -1px 1px 0 rgba(255,255,255,1); /*при наведении становится светлее */
}
@keyframes myAnimation {
	0% {margin-top: 0; opacity: 0;}
	50% {opacity: 1;}
	100% {margin-top: 16px; opacity: 1;}	
}

/* section 2 SERVICES */

#services {
	height: 100%;
/*	margin-top: 50px;*/	
	background-color: #efefef;
	padding-bottom: 50px;
}
#works {
	height: 100%;
/*	background-color: #fff; */
	padding-bottom: 50px;
}
#skills {
	height: 100%;
	background-color: #efefef;
	padding-bottom: 50px;
}
#promo {
	background: url('../img/background.jpeg') 100% 100% no-repeat fixed; /* фоновая картинка */
	background-size: cover; /*масштабируем фон;*/
	background-attachment: fixed;
	height: 200px;
}
#testimonials {
	height: 100%;
	background-color: #efefef;
	padding-bottom: 100px;
}
#contact {
	height: 100%;
	padding-bottom: 50px;
}
h2 {
	font-weight: bold;
	font-size: 30px;
	color: #222222;
	letter-spacing: 5px;
	padding-top: 100px;
	padding-bottom: 16px;
}
.short {
	width: 100px;
}
.text {
	font-size: 18px;
	font-weight: 200;
	color: #666666;
	line-height: 32px;
	padding-top: 32px;
	padding-bottom: 60px;
}
.icon {
	width: 33px;
}
h3 {
	font-weight: bold;
	font-size: 13px;
	color: #222222;
	letter-spacing: 1px;
	padding-bottom: 15px;
	padding-top: 15px;
}
.portfolio-title  {
	font-weight: 200;
	font-size: 20px;
	color: #ffffff;
	letter-spacing: 5px;
	text-shadow: 1px 1px 2px rgba(0,0,0,0.18);
}
.icon-text {
	font-weight: 200;
	font-size: 14px;
	color: #666666;
	letter-spacing: 0;
	line-height: 25px;
}
.white-box {
	background-color: #fff;
	margin: 10px 5px;
	padding: 30px;
	height: 300px;
}

/* section 3 WORKS */

.picture-box {
/*	background-size: 365px 226px; /*масштабируем фон;*/
	margin: 10px 5px;
	height: 226px;
	position: relative;
}
.picture-box h3 {
	transition: 0.2s;
	transform: translateY(20px);
}
.picture-box p {
	transition: 0.2s;
	transform: translateY(-20px);
	opacity: 0;
	visibility: hidden;
}
/* рамка верх/низ */
.picture-box:before {
	content: '';
	position: absolute;
	top: 5%;
	right: 5%;
	bottom: 5%;
	left: 5%;
	border-top: solid 1px white;
	border-bottom: solid 1px white;
	transition: 0.2s;
	transform: scaleX(0);
}
/* рамка право/лево */
.picture-box:after {
	content: '';
	position: absolute;
	top: 5%;
	right: 5%;
	bottom: 5%;
	left: 5%;
	border-right: solid 1px white;
	border-left: solid 1px white;
	transition: 0.2s;
	transform: scaleY(0);
}
/* рамка при наведении */
.picture-box:hover:after,
.picture-box:hover:before {
	transform: scale(1);
}
/* отьезжает заголовок и появляется текст при наведении */
.picture-box:hover h3,
.picture-box:hover p {
	transform: translateY(0);
	opacity: 1;
	visibility: visible;
	filter: brightness(100%);
}
/*.затемнение при наведении */
.picture-box:hover {
	filter: grayscale(0.6);
}
#box1 {
	background: url('../img/img1.jpeg') 100% 100% no-repeat scroll; /* фоновая картинка */
	background-size: cover;
}
#box2 {
	background: url('../img/img2.jpeg') 100% 100% no-repeat scroll;
	background-size: cover; 
}
#box3 {
	background: url('../img/img3.jpeg') 100% 100% no-repeat scroll; 
	background-size: cover;
}
#box4 {
	background: url('../img/img4.jpeg') 100% 100% no-repeat scroll; 
	background-size: cover;
}
#box5 {
	background: url('../img/img5.jpeg') 100% 100% no-repeat scroll; 
	background-size: cover;
}
#box6 {
	background: url('../img/img6.jpeg') 100% 100% no-repeat scroll; 
	background-size: cover;
}

/* PROMO-section */

#promo-question {
	font-size: 20px;
	letter-spacing: 1px;
	padding-top: 65px;
	padding-bottom: 10px;
}
.btn {
	margin-top: 10px;
}

/* section 4 SKILLS */

/* section 5 TESTIMONIALS */

.red-line {
	border-color: #e7746f;
}
#client-photo {
	height: 100%;
}
#review {
	font-size: 24px;
	font-weight: 200;
	line-height: 43px;
	color: #888888;
}
#signature {
	font-size: 14px;
	margin-top: 20px;
	color: #777777;
}

/* section 6 CONTACT */

input {
	margin-bottom: 10px;
}

/* FOOTER */

footer {
	background-color: #111;
	padding: 40px;
	font: normal 14px;
	color: white;
}
